@model Nhom10ModuleDiemDanh.Models.CoSoViewModel

@{
    ViewData["Title"] = "Xóa cơ sở";
}

<h1>Xóa cơ sở</h1>

<h3>Bạn có chắc chắn muốn xóa cơ sở này?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Tên cơ sở</dt>
        <dd class="col-sm-10">@Model.TenCoSo</dd>
        <dt class="col-sm-2">Mã cơ sở</dt>
        <dd class="col-sm-10">@Model.MaCoSo</dd>
        @* <dt class="col-sm-2">Địa chỉ</dt> *@
        @* <dd class="col-sm-10">@Model.DiaChi</dd> *@
        @* <dt class="col-sm-2">SĐT</dt> *@
        @* <dd class="col-sm-10">@Model.SDT</dd> *@
        @* <dt class="col-sm-2">Email</dt> *@
        @* <dd class="col-sm-10">@Model.Email</dd> *@
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">@Model.TrangThai</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCoSo" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>